# Archivos del sistema
AppData/
*.log
*.tmp
*.cache

# Archivos de desarrollo
node_modules/
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de compilación
dist/
build/
*.min.js
*.min.css

# Ignorar entorno virtual
.venv/
venv/
# Ignorar archivos de caché de Python
__pycache__/
Models/__pycache__/
Controllers/__pycache__/