{% extends "Master.html" %}

{% block stiles %}
<link rel="stylesheet" href="../../Static/CSS/Events.css">
<link rel="stylesheet" href="../../Static/Fonts/Arimo/static/Arimo-Medium.ttf">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="separar_inicio"></div>
    <h1>RESERVA PARA EVENTOS</h1>
    <div id="search-error"></div>

    <div class="search-bar">
        <div>
            <label style="font-weight: 600;font-size: 20px; color: #64cc4f;">Hora y fecha para la reserva</label>
        </div>
        <div>
            <label style="font-size: 12px; color: #999;">Fecha de reserva</label>
            <input id="search-fecha" type="date" value="" style="color: #328336; font-weight: 500;"
                min="{{ current_date }}">
        </div>
        <div class="divider"></div>
        <div>
            <label style="font-size: 12px; color: #999;">Hora de entrada</label>
            <input id="search-hora-entrada" type="time" value="" step="1800" min="00:00" max="23:30">
        </div>
        <div class="divider"></div>
        <div>
            <label style="font-size: 12px; color: #999;">Hora de salida</label>
            <input id="search-hora-salida" type="time" value="" step="1800" min="00:00" max="23:30">
        </div>
        <button id="search-button" class="search-button">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.35-4.35"></path>
            </svg>
        </button>
    </div>

    <div class="main-content">
        <form method="POST" id="form-pago">
            <div class="form-card">
                <h3 class="section-title-events">DATOS DEL EVENTO</h3>

                <div class="form-row">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input id="evento-fecha" type="date" name="fecha_evento" readonly
                            style="background-color: #efefef;">
                    </div>
                    <div class="form-group">
                        <label>Hora entrada</label>
                        <input id="evento-hora-entrada" type="time" name="hora_inicio" readonly
                            style="background-color: #efefef;">
                    </div>
                    <div class="form-group">
                        <label>Hora salida</label>
                        <input id="evento-hora-salida" type="time" name="hora_fin" readonly
                            style="background-color: #efefef;">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Tipo de evento</label>
                        <select name="tipo_evento_id" class="form-control" required>
                            <option value="">Seleccionar</option>
                            {% for evento in tipos_evento1 %}
                            <option value="{{ evento[0] }}">{{ evento[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Capacidad</label>
                        <input type="number" name="capacidad" class="form-control"
                            pattern="">

                    </div>
                </div>
                <div class="form-row">
                    

                    <div class="form-group">
                        <label>Nombre de evento</label>
                        <input type="text" name="nombre_evento" class="form-control"
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ0-9&.,'° ]+$">

                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group">
                        <button id="btn-abrir-modal" type="button" class="btn-abrir">Agregar servicios</button>
                    </div>
                </div>


                <h3 class="section-title-events">DATOS DEL CLIENTE</h3>

                <!-- Toggle para cambiar tipo de cliente -->
                <div class="switch-container">
                    <span class="switch-label">Cliente </span>
                    <label class="switch">
                        <input type="checkbox" id="toggleCliente">
                        <span class="slider"></span>
                    </label>
                    <span style="margin-left:10px;" id="tipoTexto">Natural</span>

                    <!-- Campo oculto que enviará el valor 'N' o 'J' -->
                    <input type="hidden" name="tipo_cliente" id="tipo_cliente" value="N">
                </div>


                <!-- FORMULARIO CLIENTE NATURAL -->
                <div id="formNatural">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Apellido paterno</label>
                            <input type="text" name="ape_paterno" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]{3,50}">
                            <small class="error-message"></small>
                        </div>
                        <div class="form-group">
                            <label>Apellido materno</label>
                            <input type="text" name="ape_materno" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]+$">
                            <small class="error-message"></small>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" name="nombres" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]+$">
                            <small class="error-message"></small>
                        </div>

                        <div class="form-group">
                            <label>País</label>
                            <select id="pais_select_cliente" name="pais_id">
                                <option value="">-- Seleccione país --</option>
                                {% for country in countries %}
                                <option value="{{ country[0] }}">{{ country[1] }}</option>
                                {% endfor %}
                                <!-- si tienes la lista desde el backend, reemplaza estas opciones dinamicamente -->
                            </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="tel" name="telefono" pattern="^9[0-9]{8}$" maxlength="9"
                                oninput="validarTelefono(this)">
                            <small class="error-message"></small>
                        </div>
                        <div class="form-group">
                            <label>Tipo de documento</label>
                            <select id="tipo_doc_id" name="tipo_doc_id">
                                <option value="">-- Seleccione tipo --</option>
                                {% for doc in tipo_doc %}
                                <option value="{{ doc[0] }}">{{ doc[1] }}</option>
                                {% endfor %}
                                <!-- si tienes la lista desde el backend, reemplaza estas opciones dinamicamente -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nro. de documento</label>
                            <input type="text" name="nro_doc" pattern="^[0-9]+$" maxlength="15">
                            <small class="error-message"></small>
                        </div>
                    </div>


                </div>

                <!-- FORMULARIO CLIENTE JURÍDICO -->
                <div id="formJuridico" class="hidden">
                    <div class="form-row">
                        <div class="form-group">
                            <label>RUC</label>
                            <input type="text" name="ruc" pattern="^[0-9]{11}$" maxlength="11">
                            <small class="error-message"></small>
                        </div>
                        <div class="form-group">
                            <label>Razón Social</label>
                            <input type="text" name="razon_social" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ0-9&.,'° ]+$">
                            <small class="error-message"></small>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="tel" name="telefono" pattern="^9[0-9]{8}$" maxlength="9"
                                oninput="validarTelefono(this)">
                            <small class="error-message"></small>
                        </div>
                        <div class="form-group">
                            <label>País</label>
                            <select id="pais_select_reserva" name="pais_id" disabled>
                                <option value="">-- Seleccione país --</option>
                                {% for country in countries %}
                                <option value="{{ country[0] }}">{{ country[1] }}</option>
                                {% endfor %}
                                <!-- si tienes la lista desde el backend, reemplaza estas opciones dinamicamente -->
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" name="direccion" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ0-9#.,°\- ]+$">
                            <small class="error-message"></small>
                        </div>
                    </div>

                </div>
                <h3 class="section-title-events">MÉTODOS DE PAGO</h3>

                <!-- Radios de selección de método -->
                <div class="radio-group" style="margin-bottom: 20px;">
                    {% for metodo in metodos_pago %}
                    <label style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px; cursor: pointer;">
                        <input type="radio" name="metodo_pago_id" value="{{ metodo[0] }}"
                            data-nombre="{{ metodo[1]|lower }}" {% if loop.first %}checked{% endif %}>


                        {{ metodo[1] }}
                    </label>
                    {% endfor %}
                </div>

                <!-- Campos adicionales según método -->
                <div id="tarjeta-fields" class="form-row hidden" style="flex-direction: column; gap: 10px;">
                    <div class="form-group">
                        <label>Nro. de tarjeta</label>
                        <input type="text" name="num_tarjeta" maxlength="19" placeholder="1234 5678 9012 3456"
                            class="form-control" oninput="formatCardNumber(this)">
                    </div>
                    <div class="form-group">
                        <label>Código de seguridad</label>
                        <input type="password" name="codigo_seguridad" pattern="^[0-9]{3,4}$" maxlength="3"
                            placeholder="123" class="form-control">
                    </div>
                </div>

                <div id="efectivo-fields" class="form-row hidden" style="flex-direction: column; gap: 10px;">
                    <div class="form-group">
                        <label>Monto entregado</label>
                        <input type="number" name="monto_efectivo" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00"
                            step="0.01" class="form-control">
                    </div>
                </div>

                <div id="monedero-fields" class="form-row hidden" style="flex-direction: column; gap: 10px;">
                    <div class="form-group">
                        <label>Número de teléfono</label>
                        <input type="text" name="telefono_monedero" maxlength="9" placeholder="987654321"
                            oninput="validarTelefono(this)" pattern="^9[0-9]{8}$" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Clave del monedero</label>
                        <input type="password" name="clave_monedero" maxlength="3" placeholder="***"
                            pattern="^[0-9]{3}$" class="form-control">
                    </div>
                </div>

                <style>
                    .hidden {
                        display: none;
                    }
                </style>


            </div>

            <div class="summary-card">
                <h2 class="section-title-events">Resumen de pago</h2>

                <div class="summary-row">
                    <span style="color: #666;">Datos de evento</span>
                    <span id="resumen-fecha" style="font-weight: 500; color: #328336;">—</span>
                </div>






                <div class="summary-row">
                    <span style="color: #666;">Nro. Horas</span>
                    <span id="resumen-horas">—</span>
                </div>

                <div id="lista-servicios-seleccionados" class="summary-row">
                    <small>No se han agregado servicios</small>
                </div>

                <div class="summary-row total">
                    <span>Total</span>
                    <span id="resumen-total">S/ 0</span>
                </div>

                <div>
                    <label>
                        <input type="radio" name="tipo_comprobante" value="B" checked>
                        Boleta
                    </label>
                    <label for="" style="margin-left: 15px;"></label>
                    <label>
                        <input type="radio" name="tipo_comprobante" value="F">
                        Factura
                    </label>
                </div>

                <button class="pay-button" id="btn-pagar" type="button" disabled>Pagar</button>


                <div id="flash-message"></div>
                <!-- Modal de procesamiento -->
                <div id="modal-pago" class="modal-pago">
                    <div class="modal-contenido">
                        <div id="animacion-pago" class="animacion-pago"></div>
                        <p id="texto-pago">Procesando pago...</p>
                    </div>
                </div>

            </div>

        </form>

    </div>
    <div class="separar_final"></div>
</div>


<div id="modal-servicios" class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <h2>Seleccionar servicios</h2>
            <button class="close-modal">&times;</button>
        </div>

        <div class="modal-body">

            <!-- ACORDEÓN -->
            <div class="accordion">

            </div>
        </div>

        <div class="modal-footer">
            <button class="btn-cancelar">Cancelar</button>
            <button class="btn-confirmar">Confirmar selección</button>
        </div>
    </div>
</div>

<script>
    function validarTelefono(input) {
        // Elimina todo lo que no sea número
        input.value = input.value.replace(/\D/g, '');

        // Si es el primer dígito y no es 9, lo borra
        if (input.value.length === 1 && input.value !== '9') {
            input.value = '';
        }

        // Si tiene más de 9 dígitos, corta el resto
        if (input.value.length > 9) {
            input.value = input.value.slice(0, 9);
        }
    }

    document.querySelectorAll("input[pattern]").forEach(input => {
        const pattern = input.getAttribute("pattern");

        input.addEventListener("input", () => {
            if (pattern.includes("A-Za-z")) {
                // Solo letras
                input.value = input.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ ]/g, "");
            } else if (pattern.includes("0-9")) {
                // Solo números
                input.value = input.value.replace(/[^0-9]/g, "");
            }
        });
    });
    function formatCardNumber(input) {
        // Elimina todo lo que no sea dígito
        let value = input.value.replace(/\D/g, '');

        // Agrupa en bloques de 4 dígitos y une con guiones
        value = value.match(/.{1,4}/g)?.join('-') || '';

        // Limita a 19 caracteres (16 dígitos + 3 guiones)
        input.value = value.slice(0, 19);
    }
</script>

<script>
    const tiposEventos = {{ tipos_evento1_raw | tojson }};
</script>


<script src="../../Static/JS/Evento_cliente.js"></script>

<script src="../../Static/JS/Evento_reserva.js"></script>

<script src="../../Static/JS/Evento_metodo_pago.js"></script>

<script src="../../Static/JS/Evento_pago.js"></script>

<script src="../../Static/JS/Evento_servicios.js"></script>
{% endblock %}