{% extends "Master.html" %}

{% block stiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/CRUDS.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Crud_Empleados.css') }}">
{% endblock %}

{% block content %}
<div class="main-wrapper">
  <div class="main-container">
    <!-- ===== SIDEBAR IZQUIERDA ===== -->
    <nav class="sidebar">
      <h2>Módulo Usuario</h2>
      <a href="{{ url_for('modulos.usuario') }}" class="{% if request.path == url_for('modulos.usuario') %}active{% endif %}">👤 Gestionar Usuarios</a>
      <a href="{{ url_for('modulos.gestionar_roles') }}" class="{% if request.path == url_for('modulos.gestionar_roles') %}active{% endif %}">🔐 Roles</a>
      <a href="{{ url_for('modulos.gestionar_paises') }}" class="{% if request.path == url_for('modulos.gestionar_paises') %}active{% endif %}">🌎 Países</a>
      <a href="{{ url_for('modulos.gestionar_tipo_documento') }}" class="{% if request.path == url_for('modulos.gestionar_tipo_documento') %}active{% endif %}">📄 Tipos de Documento</a>
      <a href="{{ url_for('modulos.gestionar_tipo_cliente') }}" class="{% if request.path == url_for('modulos.gestionar_tipo_cliente') %}active{% endif %}">👥 Tipos de Cliente</a>
      <a href="{{ url_for('modulos.gestionar_tipo_empresa') }}" class="{% if request.path == url_for('modulos.gestionar_tipo_empresa') %}active{% endif %}">🏢 Tipos de Empresa</a>
    </nav>
<main class="content-crud-empleado">
    <!-- ===== CONTENIDO PRINCIPAL ===== -->
    {% block user_content %}

    {% endblock %}

</main>
  </div>
</div>

{% endblock %}

